header
    div.bg1
        .topMenu.content
            a(href="#").logo  Crown
            div.menuRight
                .icon
                    a(href='#')
                        img(src="./img/svg/facebook.svg", alt="facebook")
                .icon
                    a(href='#')
                        img(src="./img/svg/insta.svg", alt="instagram")
                .icon
                    a(href='#')
                        img(src="./img/svg/gmail.svg", alt="gmail")
                .icon
                    a(href='#')
                        img(src="./img/svg/whatsup.svg", alt="whatsup")
                .icon.home
                    a(href='#')
                        img(src="./img/svg/home.svg", alt="home")
        .bottomHeader.content
            .description
                h1 Современно. Просто. Со вкусом.
                p Все гениальное просто. Наши мастера фотографий точно смогут удивить Вас своим талантом. Впечетляющие кадры от простых семейных фотосессий до специализированной арт-съемки.
                a(href="#main-content")
                    button.watchGallery Смотреть галлерею
            .camera
                img(src="./img/png/camera2.png", alt="camera_logo")